h1, h2 {
    color:rgb(155, 39, 39);

}

body {
background-color: rgb(194, 194, 209)161, 161, 189);
font-family : arial;
}

ul,OL,a  {
    color: rgb(25, 255, 25);
    text-decoration: none;
    
}

#p1
{
    color:yellow
}

.p2
{
    color: violet;
}