h1, h2 {
    color:rgb(155, 39, 39);

}

body {
background-color: rgb(194, 194, 209)161, 161, 189);
font-family : arial;
}

ul li a {
    color: rgb(4, 4, 68);
    text-decoration: none;
    
}

ol li a
{
    color:red;
    text-decoration: none;
}